extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each match, i in matches
      li
        p #{match.home_team.country} vs. #{match.away_team.country}

        //a(href="http://twitter.com/#{match.match_number}")= match.home_team.country +  + match.away_team.country}
  p #{worldcup.length}
